.page-header {
  background-color: #292936;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-align: center;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Urbanist", sans-serif;
  color: #292936;
}

.date {
  color: #292936;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.top-menu:hover {
  border-bottom: solid;
  border-color: white;
}

.top-menu-welcome {
  color: #ffffff;
  font-size: 16pt;
  float: right;
  margin: 5px 5px 5px 5px;
}

.post {
  margin-bottom: 70px;
  background-color: #ffffff;
  border-color: #292936;
  border-style: solid;
  border-width: 3px;
  border-radius: 10pt;
  border-style: solid;
  padding: 30px 30px 30px 30px;
}

.post h2 a,
.post h2 a:visited {
  color: #292936;
}

.post > .date,
.post > .actions {
  float: right;
}

.btn-default,
.btn-default:visited {
  color: #292936;
  background: none;
  border-color: #292936;
  float: right;
  margin-right: 5px;
}

.btn-default:hover {
  color: #ffffff;
  background-color: #292936;
}

body {
  background-color: #aeb6bc;
}

main.container {
  margin-bottom: 40px;
}

.comment {
  margin: 20px 20px 20px 20px;
}

.acomment {
  color: #292936;
}
